@import "@fontsource/syne/700.css";
@import "@fontsource/syne/800.css";

.navbar{
 display: grid;
 grid-template-columns: auto 1fr;
 align-items: center;
 background-color: #277da1;
 border-radius: 1%;
 border-color: #1c093d;
 border: #1c093d;
}

.name{
    grid-column: 1/2;
    color: rgba(238, 236, 234, 0.95);
    font-family: "Syne", sans-serif ;
    font-weight: 800;
    margin-left: 3rem;
    font-size: larger;
}

.nav{
    display: grid;
    grid-column: 2/3;
    grid-template-columns: repeat(6, 1fr);
    color: rgba(238, 236, 234, 0.95);
    text-align: center;
    margin-left: 7rem;
    margin-right: 7rem;
    font-family: "Syne", sans-serif;
}

