<div class="container">
    <h2 class="titulo">Productos similares</h2>
    <div class="productos">
        <div class="producto">
            <img src="images/iphone.png" alt="producto">
            <h3 class="precio">Q8,999</h3>
            <p class="tienda">Pacifiko</p>
        </div>
        <div class="producto">
            <img src="images/macbook.png" alt="producto">
            <h3 class="precio">Q12,500</h3>
            <p class="tienda">Kemik</p>
        </div>
        <div class="producto">
            <img src="images/televisor.png" alt="producto">
            <h3 class="precio">Q4,200</h3>
            <p class="tienda">Intelaf</p>
        </div>
        <div class="producto">
            <img src="images/refrigerador.png" alt="producto">
            <h3 class="precio">Q6,800</h3>
            <p class="tienda">Tiendas Max</p>
        </div>
    </div>
</div>