<header class="search-navbar">
  <div class="navbar-left">
    <div class="menu-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <a class="navbar-logo" routerLink="/">WTP</a>
  </div>

  <div class="navbar-center">
    <div class="search-wrapper">
      <input class="search-input" type="text" placeholder="Search" />
      <button class="search-button" aria-label="Search">🔍</button>
    </div>
  </div>

  <div class="navbar-right">
    <a routerLink="/login">Log in</a>
    <a routerLink="/register" class="signup-button">Sign up</a>
  </div>
</header>
