@import "@fontsource/syne/700.css";
@import "@fontsource/syne/800.css";
@import '@fontsource-variable/lexend/wght.css';

.problema-container {
  background-color: #F0F4F8;
  padding: 4rem 2rem;
}

.titulo {
  text-align: center;
  font-family: "Syne", sans-serif;
  font-weight: 800;
  color: #277da1;
  font-size: xx-large;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.descripcion {
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  color: #277da1;
  margin-bottom: 2.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 1.5rem;
  gap: 0.5rem;
  box-shadow: 0 2px 8px rgba(23, 7, 52, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 12px 20px rgba(39, 125, 161, 0.2);
}

.card h5 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: #277da1;
  font-size: 1rem;
  margin: 0;
}

.card p {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  color: #555555;
  font-size: 0.9rem;
  margin: 0;
}
