<div class="container">
    <aside class="tiendas">
        <h2 id="titulo">Tiendas</h2>
        <nav class="boton-tienda">
            <div class="tienda-item">Intelaf</div>
            <div class="tienda-item">Tiendas Max</div>
            <div class="tienda-item">Kemik</div>
            <div class="tienda-item">MacroSistemas</div>
            <div class="tienda-item">Click</div>
            <div class="tienda-item">Tecnofácil</div>
            <div class="tienda-item">Guatemala Digital</div>
            <div class="tienda-item">Steren</div>
        </nav>
    </aside>

    <section class="precios">
        <h2>Rango de Precio</h2>
        <div class="precio-filter-container">
            <div class="rango-inputs">
                <input type="number" placeholder="Min Q">
                <span>-</span>
                <input type="number" placeholder="Max Q">
            </div>

            <div class="presupuesto-chips">
                <div class="chip">Menos de 300</div>
                <div class="chip">Menos de 600</div>
                <div class="chip">Menos de 1000</div>
                <div class="chip">Menos de 2000</div>
                <div class="chip">Menos de 5000</div>
                <div class="chip">Menos de 10000</div>
            </div>
        </div>
    </section>

    <section class="productos">
        <h2>Categorías</h2>
        <div class="productos-grid">
            <div class="producto-item">Teléfonos</div>
            <div class="producto-item">Computadoras</div>
            <div class="producto-item">Laptops</div>
            <div class="producto-item">Cocina</div>
            <div class="producto-item">Hogar</div>
            <div class="producto-item">Música</div>
            <div class="producto-item">Relojes</div>
            <div class="producto-item">Tablets</div>
        </div>
    </section>
</div>